.sign__in{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;
    height: 100vh;
    background-color: #fffffff1;
}

.sign__up{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;
    height: 100vh;
    background-color: #fffffff1;
}

.form{
    position: relative;
    background: transparent;
    width: 100%;
    max-width: 400px;
    border-radius: 12px;
    padding: 30px 30px;
    margin: auto;
    box-shadow: 0 0 20px 30px rgba(0, 0, 0, 0.01);
    
}

.form h2{
    font-size: 30px;
    font-weight: 700;
}

.form p{
    font-size: 14px;
    padding-bottom: 8px;

}

.form form{
    margin: 8px 0;
}

.form form .profile-img{
    position: absolute;
    top: 0;
    right: 0;
    width: 75px;
    height: 75px;
    margin: 18px 30px;
    background: #f2f3f7;
    background-position: center;
    background-repeat: no repeat;
    background-size: cover;
    border-radius: 50%;
    border: 4px solid #00b3ff;
}

.file-upload{
    position: absolute;
    top: 0;
    right: -15px;
    height: 35px;
    width: 35px;
    display: flex;
    border-radius: 50%;
    border: 2px solid #d2d3d7;
    overflow: hidden;
    background: #bad5e0;
    background-size: 100% 200%;
    transition: all 1s;
    font-size: 14px;
    cursor: pointer;
}

form input[type="file"]{
    position: relative;
    height: 40px;
    width: 40px;
    opacity: 0;
    cursor: pointer;
    padding: 20px;
}

.form i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 14px;
    color: #333;
    z-index: 100;
    pointer-events: none;
    cursor: pointer;
}

.social{
    display: flex;
    gap: 30px;
    text-align: center;
    justify-content: center;
}
.social .Facebook{
    background-color: #006692;
    color: #fff;
    text-align: center;
    justify-content: center;
    padding: 10px;
    width: 150px;
    height: 40px;
    display: flex;
    gap: 6px;
    border-radius: 5px;
    cursor: pointer;
}

.social .Google{
    background-color: #e00b0b;
    color: #fff;
    text-align: center;
    justify-content: center;
    padding: 10px;
    width: 150px;
    height: 40px;
    display: flex;
    gap: 6px;
    border-radius: 5px;
    cursor: pointer;
}

.social .Twitter{
    background-color: #74c9df;
    color: #fff;
    text-align: center;
    justify-content: center;
    padding: 10px;
    width: 150px;
    height: 40px;
    display: flex;
    gap: 6px;
    border-radius: 5px;
    cursor: pointer;
}
.file-upload:hover{
    background: #eaeef0;
}

.form form .error{
    display: block;
    color: #851925;
    text-align: center;
    border-radius: 4px;
}


.form .grid-details .input:first-child{
    margin-right: 8px;
    width: 100%;
}

.form .grid-details .input:last-child{
    margin-left: 5px;
    width: 100%;
}

.form form .input input{
    height: 34px;
    width: 90%;
    font-size: 14px;
    padding: 0 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 3px 0;
    outline: none;
}

.form form .input1 label{
    opacity: 0.8;
    font-size: 15px;
}

.form form .input #myInput:focus,
.form form .input #myInput:valid{
    border: 2px solid #dce2e6;
    transition: 0.1s ease;
    outline: none;

}

/* .form form .input #myInput:invalid{
    border: 1px solid red;
} */


.form form input.button{
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: #fff;
    width: 60%;
    margin: 13px auto;
    font-size: 17px;
    border-radius: 20px;
    cursor: pointer;
    background-color:  #5161ce;
    border: 2px solid #5161ce;
}


.form form input.button:hover{
    background-color: #5161ce;
    color: #fff;
}

.form .link{
    text-align: center;
    margin: 10px 0;
    font-size: 14px;
}

.form .link a{
    color: #006692;
    text-decoration: none;
}

.form .link a:hover{
    text-decoration: underline;
}

.Forgot a{
    text-decoration: none;
}


.fields-input{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}

.otp_fields{
    border-radius: 5px;
    font-size: 60px;
    height: 100px;
    width: 100px;
    border: 3px solid #cacaca;
    margin: 1%;
    text-align: center;
    font-weight: 600;
    outline: none;
}

.otp_fields::-webkit-inner-spin-button,
.otp_fields::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.otp_fields:valid{
    border-color: #3085d8;
    box-shadow: 0 10px 10px -5px rgba(0,0,0,0.25);
}