 body{
    background-color: #fff;
 }
 
 .hero{
  display: flex;
  align-items: center;
  /* justify-content: center; */
  height: 90vh;
  text-align: center;
  margin: 0.5rem auto;
  background-color: #fff;
  
}
.home-badge{
  width: 40%;
  margin: auto;
  padding: 10px 0;
  border-radius: 30px;
  color: #5161ce;
}

.hero__heading{
  font-size: 55px;
  font-family: "Roboto Serif", "Montserrat Alternates", serif;
  font-weight: 500;
  width: 80%;
  line-height: 70px;
  margin: auto;
  padding: 10px 0;
}

.home-type-body-large{
  padding: 5px 0;
  font-size: 18px;
  font-family: arial;
}

.margin-t-32 {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  background-color: #5161ce;
  padding: 20px 0;
  width: 160px;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 30px;
  border: none;

}

.margin-t-33 {
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  font-size: 16px;
  background-color: #ffffff;
  padding: 20px 0;
  width: 160px;
  cursor: pointer;
  /* margin-top: 20px; */
  border-radius: 30px;
  border: none;

}


  /* responsive style for hero section */

  @media (max-width:499px){
    body{
      background-color: #fff;
    }
    .hero{
      display: flex;
      align-items: center;
      /* justify-content: center; */
      height: 80vh;
      text-align: center;
      
    }  
    .home-badge {
      width: 80%;
      padding: 10px 0;
      border-radius: 30px;
  }

  .hero__heading {
    font-size: 45px;
     font-family: "Roboto Serif", "Montserrat Alternates", serif; 
    font-weight: 500;
    width: 90%;
    line-height: 60px;
    padding: 10px 20px;
}

  }


  #page-header{
    background-image: url('@/assets/gradient-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin: 1rem 0;
}

#page-header h2{
  font-size: 30px;
}

#page-header h2,
#page-header p{
    color: #fff;
}
#contact-details{
display: flex;
align-items: center;
justify-content: space-between;
padding: 0 2rem;
}

#contact-details .details{
width: 70%;
}

#contact-details .details span,
#form-details form span{
font-size: 12px;
}

#contact-details .details h2,
#form-details form h2{
font-size: 26px;
line-height: 35px;
padding: 20px 0;
color: #000;
}

#contact-details .details h3{
font-size: 16px;
padding-bottom: 15px;
}

#contact-details .details li{
list-style: none;
display: flex;
padding: 10px 0;
}
#contact-details .details li i{
font-size: 14px;
padding-right: 22px;
}

#contact-details .details li p{
margin: 0;
font-size: 14px;
}

#contact-details .map{
width: 100%;
height: 400px;
}

#contact-details .map iframe{
width: 100%;
height: 100%;
}

#form-details{
display: flex;
justify-content: space-between;
margin: 30px;
padding: 80px;
padding: 80px;border: 1px solid #e1e1e1;
}

#form-details form{
width: 65%;
display: flex;
flex-direction: column;
align-items: flex-start;
}

.normal{
  background: #5161ce;
    padding: 20px 20px;
    color: #fff;
    border: 1px solid #5161ce;
    border-radius: 40px;
    cursor: pointer;
    width: 120px;
}
#form-details form input,
#form-details form textarea{
width: 100%;
padding: 12px 15px;
outline: none;
margin-bottom: 20px;
border: 1px solid #e1e1e1;
}



#form-details .people div{
padding-bottom: 25px;
display: flex;
align-items: flex-start;
}

#form-details .people div img{
object-fit: cover;
margin-right: 15px;
border-radius: 50%;
}

#form-details .people div p{
margin: 0;
font-size: 13px;
line-height: 25px;
}
#form-details h2{
color: #000;
}

#form-details .people div p span{
display: block;
font-size: 16px;
font-weight: 600;
color: #000;
}